.slide {
    transform: scale(0.7);
    transition: transform 300ms;
    opacity: 0.5;
}

.activeSlide{
    display:flex;
    justify-content: center;
    align-items: center;
}
  
  .slideWrapper {
    display: flex;
    justify-content: center;
  }
  
  .prevArrow {
    position: absolute;
    top: 35%;
    left: 20px;
    z-index: 1000;
    cursor: pointer;
  }
  
  .nextArrow {
    position: absolute;
    top: 35%;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
  }
  .mobileAppContainer{
    display:flex;
    flex-direction:row;
    @media only screen and (min-width: 768px){
      flex-direction:column;
    };
  }